body {
    background-color: #EADEB8;
}

h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }


 .container {
     text-align: center;
     display: inline-block;
     margin-left: 44%;
     margin-top: 8%;
     

 }

  